.wrapper {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(27, 30, 36, 0.06), 0 0 8px rgba(27, 30, 36, 0.04);
}

.table {
  border-collapse: collapse;
}

th,
td {
  width: 15rem;
  border-bottom: 1px solid #f0f0f0;
}

th {
  background-color: #4db5cc;
  color: white;
}

tr {
  height: 4rem;
  text-align: center;
}

tr:hover {
  background-color: #fafafc;
}

/* Navigation css */
.nav-container {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.page-number {
}

.btn-container {
  display: flex;
  gap: 0.5rem;
}

.major-button {
  background-color: white;
  color: #4db5cc;
  padding: 6px 7px;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  border: 2px solid #4db5cc;
}

.major-button:hover {
  background-color: #4db5cc;
  color: white;
}

.major-button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.minor-btns {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.minor-btns:hover {
  color: #4db5cc;
}
